# python virtual environment
venv/
.env/
__pycache__/
.ipynb_checkpoints/
Data/
.DS_Store
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.egg-info/
.envrc
.idea/
.vscode/
*.bak
*.swp
*.swo
*.tmp
*.pkl
# Ignore only log and temporary txt files, not all .txt files
logs/*.txt
temp*.txt
*.~